<html>
<head>
	<title>Hangman</title>
</head>
<body>
	<h1>
		Welcome to Hangman!
	</h1>
	<p>
		<%= message %> <br>
		Here is your word: <%= choice_string %> <br>
		Guesses left: <%= guess_count %> <br>
	</p>
	<form>
		Guess:<br>
		<input name="guess" type ="text">
		<input type="submit" value="Submit">
	</form>
</body>
</html>